<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hotels Page</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
</head>
<body>
  <h1>Find Your Airport Hotel Now!</h1>

    <a href="/">Search Again</a>

  <% for (let i = 0; i < hotels.length; i++) { %>
    <ul class="hotels">
        <li>Hotel Name: <%= hotels[i].property_name %></li>
        <li>Address: <%= hotels[i].address.line1 %></li>
        <li>Your Rate per : $<%= hotels[i].rooms[0].rates[0].price %> USD</li>
      </li>
    </ul>

  <form class='save-favorites' action='/hotels/favorites' method='post'>
    <input type='hidden' name='favoritehotels[property_name]' value='<%= hotels[i].property_name %>'>
    <input type='hidden' name='favoritehotels[price]' value='<%= hotels[i].rooms[0].rates[0].price %>'>

    <input type='submit' value='save'>
  </form>

  <% }; %>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/scripts.js" type="text/javascript"></script>
</body>
</html>
